* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #31313f;
}
.subtitle {
    padding-top: 15px;
    float: right;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: aqua;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    color: #31313f;
}

.content p {
    color: #ffffff;
}

.Surf-Report {
    margin-bottom: 32px;
    color: #ffffff;
}

.LED-Wall {
    margin-bottom: 32px;
    color: #ffffff;
}

.Calculator {
    margin-bottom: 32px;
    color: #ffffff;
}
.Paztel-Puzzle {
    margin-bottom: 32px;
    color: #ffffff;
}
.Run-Buddy {
    margin-bottom: 32px;
    color: #ffffff;
}

.Surf-Report h3 {
    margin-bottom: 10px;
    text-align: center;
}

.LED-Wall h3 {
    margin-bottom: 10px;
    text-align: center;
}

.Calculator h3 {
    margin-bottom: 10px;
    text-align: center;
}

.Paztel-Puzzle h3 {
    margin-bottom: 10px;
    text-align: center;
}

.Run-Buddy h3 {
    margin-bottom: 10px;
    text-align: center;

.About-Me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.Work h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.Contact h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h3 {
    font-size: 20px;
}