.body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

.hero {
    
    height: 300px;
    width: 100%;
    background-image: url("../images/heroheader.jpeg");   
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
    
}

.hero h1 {
    display: inline-block;
    font-size: 60px;
    color: #242431;
}
.hero nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 30px;
}

.hero nav ul {
    list-style-type: none;
}

.hero nav ul li {
    display: inline-block;
    margin-left: 25px;
    
}

.hero h3 {
    float: right;
    color: #242431;
    
}

a {
    color: #35c1dd;
    text-decoration: none;
}

.Surf-Report {
    height: 80px;
    width: 40%;
    background-image: url("../images/heroheader.jpeg");   
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.LED-Wall {
    height: 80px;
    width: 50px;
    background-image: url("../images/heroheader.jpeg");   
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.Contact ul li {
    display: inline-block;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 30px;
}

.Project {
    background-image: url("../images/heroheader.jpeg");   
    width: 30%;
        
}

#surfReport {
border:solid 1px #35c1dd;
display:flex;
align-items: center;

}

#ledWall {
    display:flex
    
}

#pastelPuzzle {
    display:flex
    
}

#runBuddy {
    display:flex

}


.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
    text-align: center;
    background-color:  rgb(53, 71, 98);
}

