* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fafcf9;
}

.header {
    height: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:  rgb(41, 48, 61);
    color: #58c4e1;
}

.header h1 {
    background-color: #58c4e1;
    display: inline-block;
    font-size: 60px;
    color: #242431;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 25px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    text-decoration: underline 5px;
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #7ac1dc;
    text-decoration: none;
}

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/heroheader.jpeg");
    background-size: cover;
    background-position: center;
}

.AboutMe h2 {
    font-size: 40px;
    color: #242431;
}

.container-1 {
    background-color: bisque;
    display: flex;
}

.container-2 {
    background-color: aliceblue;
    display: flex;
}

.container-3 {
    background-color: aqua;
    display: flex;
}

.container-1 div, .container-2 div, .container-3 div    {
    padding: 10px;
}


.box-1 {
    flex: 1;
}

.box-2 {
    flex: 1;
}

.box-3 {
    flex: 1;
}

.box-4 {
    flex: 1;
}

.box-5 {
    flex: 1;
}

.Contact h1 {
    background-color: #58c4e1;
    display: inline-block;
    font-size: 60px;
    color: #242431;
}

.Contact nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 25px;s
}

.Contact nav ul {
    list-style-type: none;
}

.Contact nav ul li {
    text-decoration: underline 5px;
    display: inline-block;
    margin-left: 25px;
}

.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px;
    text-align: center;
}